:root
{
    --azul-marinho:#1B3E8F;
    --azul-claro:#33578B;
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    justify-content: space-between;
}

body {
    background: radial-gradient(circle at 30% 10%, var(--azul-marinho) 40%, var(--azul-claro));
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item
{
    padding-right: 40px;
}